@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Kotta;
    src: url(../assets/fonts/KottaOne-Regular.ttf);
}

body{
    background-color: #38393D;
}

.kotta {
    font-family: Kotta;
}

.bgColor{
    background-color: #D9D9D9;
}

.randColor{
    background-color: #FF0000;
}

.searchColor{
    background-color: #FFB5B5;
}